autopep8==1.5.5
certifi==2020.12.5
click==7.1.2
dukpy==0.2.3
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
javascripthon==0.11
Jinja2==2.11.3
macropy3==1.1.0b2
MarkupSafe==1.1.1
numpy==1.20.1
pandas==1.2.2
prettytable==2.0.0
pycodestyle==2.6.0
pyecharts==1.9.0
pyecharts-javascripthon==0.0.6
python-dateutil==2.8.1
pytz==2021.1
simplejson==3.17.2
six==1.15.0
toml==0.10.2
wcwidth==0.2.5
Werkzeug==1.0.1
